# hidden files
.*

# Vagrant
Vagrantfile

# logs
*.log

# test coverage
coverage.out

# configuration
/*.toml

# dependencies
/vendor/

# certs
/certs/

# builds
/dist/
/build/
/docs/public/

# examples
/examples/adr-plugin/adr-plugin
