.content-list .item {
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.01);
    padding: 25px;
}


.content-list .item p {
    margin: 0;
    padding: 0;
}
