body {
    margin-bottom: 50px;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 23px;
}

.sidebar-menu li {
    margin: 10px 0px 10px 0px;
}

.sidebar-menu i {
    width: 20px;
}

.sidebar-menu > li > a {
    text-transform: uppercase;
    color: #444444;
    font-weight: bold;
}

.sidebar-menu > li > a:hover {
    text-decoration: none;
}

.sidebar-menu .sub {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.sidebar-menu .sub li {
    padding-left: 23px;
}

.sidebar-menu .sub li.active {
    border-left: 2px solid #0c84e4;
    margin-left: -2px;
    font-weight: bold;
}

.sidebar-menu .sub li a {
    color: #444444;
}

img {
    width: 100%;
}

pre code {
    background: none !important;
    word-wrap: normal;
    white-space: pre;
}

pre {
    margin-bottom: 23px;
}

body {
    font-size: 14px;
}

table {
    width: 100%;
}

table tbody tr td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
