[Unit]
Description=LoRa Server
Documentation=https://www.loraserver.io/
Wants=network-online.target
After=network-online.target

[Service]
User=loraserver
Group=loraserver
ExecStart=/usr/bin/loraserver
Restart=on-failure

[Install]
WantedBy=multi-user.target
